---
interface Props {
  key: string;
  values: {
    value: string;
    example?: string;
  }[];
}

const { key, values } = Astro.props;
---

<h3>{key}</h3>
{
  values.map(({ value, example }) => (
    <>
      {example && <blockquote>{example}</blockquote>}
      <p>{value}</p>
    </>
  ))
}
